<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 启用Spring相关注解 -->
    <context:annotation-config/>

    <!-- 启用注解驱动的Spring MVC功能 -->
    <mvc:annotation-driven/>
    <!-- 拦截器 -->
    <mvc:interceptors>
        <bean class="com.phoenix.common.HttpInterceptor"/>
    </mvc:interceptors>

    <!-- 启用包扫描功能 -->
    <context:component-scan base-package="com.phoenix.controller"/>
    <context:component-scan base-package="com.phoenix.service"/>

    <!-- 全局的ApplicationContext工具类 -->
    <bean class="com.phoenix.utils.ApplicationContextHelper" lazy-init="false"/>

    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>

    <!-- 自定义全局异常处理器 -->
    <bean class="com.phoenix.common.SpringExceptionResolver"/>

    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver"/>
    <!-- Json返回处理-->
    <bean id="jsonView" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"/>
    <!-- jsp返回处理-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
</beans>